* {
    margin: 0;
    padding: 0;
}
    
h1{
    margin: auto;
    font-size: 50px;
}
.email {
    padding: 5px;

}

#email {
    height: 40px;
    width: 250px;
    background-color: #e9ecef;
    border: 0px;
}
.password {
    padding: 5px;

}

#password{
    height: 40px;
    width: 250px;
    background-color: #e9ecef;
border: 0px;
}
#checkbox {
   text-align: left;
}
/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #f8f9fa;
    padding-top: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-image: linear-gradient(to right, black, purple);
}

  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

h2 {
    font-size: 50px;
}

  h2, p{
    text-align: center;
    color: white;
    margin: auto;
  }

  .righttext {
    margin: auto;
    padding-top: 150px;
  }

